@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body{
  height: 100vh;
  background: #f6f2ff;
  color: black;
}